@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  See Vue documentation on how to use css-based transitions: 
  https://vuejs.org/guide/built-ins/transition.html#css-based-transitions
*/
.list-transition-move,
.list-transition-enter-active,
.list-transition-leave-active {
  transition: all 0.3s ease;
}
.list-transition-enter-from,
.list-transition-leave-to {
  opacity: 0;
}
.list-transition-leave-active {
  position: absolute;
}
